$color-pixel: #e63;
$color-pixel: #f9750f;
$color-ratio: #7a7a9b;
$color-pixel-rgb: 238 102 51;
$color-pixel-rgb: 249 117 15;
$color-ratio-rgb: 122 122 155;
$color_action: rgb(250 90 110);
$color_action: #cd103f;
